combined:
  uri: git@github.com:USERNAME/config-repo.git
  private_key: |
    Some deploy key

s3:
  access_key_id: 
  secret_access_key: 
  region_name: us-west-1
  buckets:
    pivnet_products: aneumann-pivnet-products
    platform: aneumann-platform-state
    installation: aneumann-backups

pivnet_token: 

credhub-client: nonprod_credhub_client
credhub-secret: 
credhub-server: 10.0.16.5:8844
credhub-ca-cert: |
  Tempest ca_cert