configuration:
  uri: git@github.com:USERNAME/config-repo.git
  private_key: |
    Some deploy key

s3:
  access_key_id: 
  secret_access_key: 
  region_name: us-west-1
  buckets:
    pivnet_products: pivnet-products

pivnet_token: 

credhub-client: 
credhub-secret: 
credhub-server: 
credhub-ca-cert: |
  Tempest ca_cert