---
auth_json: "$(cat gcp_service_account_key.json | jq 'tostring')"

credhub_encryption_secret: "$(openssl rand -base64 20)"

ssl_key: "from Lets Encrypt... first cert in fullchain.pem"
ssl_cert: "from Lets Encrypt... privkey.pem"

sql_username: "$(terraform output pas_sql_username)"
sql_password: "$(terraform output pas_sql_password)"