---
project: "$(terraform output project)"

apps_domain: "$(terraform output apps_domain)"
sys_domain: "$(terraform output sys_domain)"

network_name: "pas"
ws_router_pool: "$(terraform output ws_router_pool)"
http_lb_backend_name: "$(terraform output http_lb_backend_name)"
ssh_router_pool: "$(terraform output ssh_router_pool)"

mysql_notification_email: "aneumann@pivotal.io"

sql_host: "$(terraform output sql_db_ip)"

storage_service_account: "$(terraform output storage_service_account)"
buildpacks_bucket: "$(terraform output buildpacks_bucket)"
droplets_bucket: "$(terraform output droplets_bucket)"
packages_bucket: "$(terraform output packages_bucket)"
resources_bucket: "$(terraform output resources_bucket)"
